*{
    box-sizing: border-box;
}


main{
    margin: 0 auto;
    width: 1000px;
}

footer{
    margin: 0 auto; 
    width: 1000px;
}

.blog-post {
    min-height: 100vh; /* Ensure each section is at least the height of the viewport */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start;
    align-items: center;
  }


  .blog-title {
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    width: 100%; /* Full width to match the image */
    background: #f9f9f9;
  }


  .blog-post img {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
  }

  .blog-content {
    text-align: left;
    padding: 20px 20px 20px 0;
    background: #f9f9f9; /* Optional: Light background for contrast */
    width: 100%; /* Full width to match the image */
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 0.9rem;
    line-height: 30px;
    margin-bottom: 20px;
  }

  footer{
    background-color:rgb(230, 237, 246);
    width: 100%;
  }

  .footer-content{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .footer-content a{
    text-decoration: none;
    color: #2a2a2a;
    display: flex;
    font-size: 0.8rem;
  }