@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", serif;
    font-weight: 400;
    overflow-y: auto;
}

header{
    width: 100%;
    height: 60px;
}

.nav-container{
    margin: 0 auto;
    height: 60px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #2a2a2a;
    transition: 0.3s ease;
}

.nav-container a:hover{
    font-size: 1rem;
    font-weight: 500;
    color: #565656;
    cursor: pointer;
    text-shadow: 0 0 10px 565656;
}

.nav-container h1{
    font-size: 20px;
}

.nav-bar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-bg {
    background: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px);
    width: 100%;
    margin: 0 auto;
    opacity: 75%;
    position: relative;
    overflow: hidden;
}
.overlay {
    text-align: center;
    color: white;
    padding: 0;
}

.hero-text {
    position: absolute;                     /* Position text in the center */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);       /* Center the text */
    color: white;                           /* Text color */
    font-size: 2.5rem;                      /* Text size */
    text-align: center;
    z-index: 1;                             /* Ensure text appears above the overlay */
}

.hero-text strong{
    color: rgb(107, 164, 244);
}

.join-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(107, 164, 244);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.overlay .join-btn {
    position: absolute;
    top: 60%; /* Adjust position of the button below the text */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
}

.join-btn:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    font-size: 20px;
}

footer{
    background-color: rgb(230, 237, 246);
    width: 100%;
  }

  .footer-content{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .footer-content a{
    text-decoration: none;
    color: #2a2a2a;
    display: flex;
    font-size: 0.8rem;
  }