.projetos {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 cards por linha */
    gap: 40px;
    padding: 20px;
    margin: 50px auto 0 auto;
}

.project-card {
    width: 250x;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Esconde as bordas arredondadas da imagem */
}

.project-img img {
    width: ; /* Faz a imagem ocupar toda a largura */
    height: auto; /* Mantém a proporção original */
    border-radius: 5px 5px 0 0; /* Arredonda as bordas superiores */
}

.project-text {
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px;
    color: #333;
    text-align: center;
}
