*{
    box-sizing: border-box;
}


.projetos {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 cards por linha */
    gap: 40px;
    padding: 20px;
    margin: 50px auto 0 auto;
}

.project-card {
    width: 250x;
    height: 200px;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Esconde as bordas arredondadas da imagem */
}

.project-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img img{
    max-width: 100%;
    height: auto;
}

.project-description{
    padding-top: 10px;
}

.project-description h1{
    font-size: 1.5rem;
    color: #333;
}

.project-text {
    font-size: 14px;
    color: #333;
    text-align: left;
    padding-top: 20px;
}
